@import '~bootstrap/scss/bootstrap.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #b441d5 0%, #6225ce 51%, #50106c 100%);
    overflow: none;
}
p {
    text-align: center;
    font-size: 1rem;
    color: #d3d3d3;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    z-index: 999;
}
.navbar {
    background-color: transparent;
    .navbar-brand {
        margin-left: 5rem;
        img {
            height: 48px;
            width: 48px;
        }
        @include media-breakpoint-down(sm) {
            margin-left: 1em;
        }
        @include media-breakpoint-between(sm, lg) {
            margin-left: 1em;
        } 
        transition: all .25s linear; 
        -o-transition: all .25s linear; 
        -moz-transition: all .25s linear; 
        -webkit-transition: all .25s linear;
    }
    .navbar-collapse {
        text-align: right;
    }
    .navbar-nav {
        .nav-link {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.57);
            padding: 0.56rem 1.3rem;
            cursor: pointer;
            border-radius: 1.5rem;
            &:hover {
                background-color: #6225ce;
                color: #e7e7e7;
                padding: 0.56rem 1.3rem;
                text-shadow: none;
            }
        }
    }
    .navbar-toggler {
        color: rgba(255, 249, 249, 0.877);
        border-color: transparent;
    }
    @include media-breakpoint-down(sm) {
        background-color: #414141;
    }
    @include media-breakpoint-between(sm, lg) {
        background-color: #414141;
    }
    -webkit-transition: background-color .25s linear;
    -ms-transition: background-color .25s linear;
    transition: background-color .25s linear;
}
.main {
    flex: 1 0 auto;
}
.container-fluid {
    @include media-breakpoint-down(sm) {
        padding-left: 0 !important; 
        padding-right: 0 !important;
    }
    @include media-breakpoint-between(sm, lg) {
        padding-left: 0 !important; 
        padding-right: 0 !important;
    }
}
.carousel {
    position: relative;
    margin-top: 10rem;
    line-height: 20px;
    height: 250px;
    .carousel-caption {
        color: #fff;
        top: 100%;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                     0px 8px 13px rgba(0,0,0,0.1),
                     0px 18px 23px rgba(0,0,0,0.1);
        h1 {
            font-size: 2.5rem;
            font-weight: 800;
            @include media-breakpoint-down(sm) {
                font-size: 2rem;
            }
        }
        h6 {
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 800;
            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }
    }
    .carousel-slide {
        display: flex;
        width: 100%;
    }
    .carousel-container {
        width: 60%;
        margin: auto;
    }
    .carousel-inner {
        overflow: unset !important;
    }
}
.badge {
    color: #fff;
    border: none;
    text-shadow: 0px 0px #000000;
    font-size: 1.1rem;
}
.server-status-card {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to left, #b441d5 0%, #6225ce 51%, #50106c 100%);
    width: 945px;
    padding: 2.5rem 2rem;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    transition: all .25s linear; 
    -o-transition: all .25s linear; 
    -moz-transition: all .25s linear; 
    -webkit-transition: all .25s linear;
    .server-status-card-col-left {
        display: flex;
        margin-left: 2rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(sm) {
            margin-left: 0;
        }
        @include media-breakpoint-only(sm) {
            margin-left: 0;
            margin-right: 1.5rem;
        }
        h1 {
            margin-top: 5px;
            font-size: 1.6rem;
            font-weight: 700;
            @include media-breakpoint-down(sm) {
                font-size: 0.95rem !important;
            }
            @include media-breakpoint-only(sm) {
                font-size: 0.95rem !important;
            }
        }
        h6 {
            font-size: 1.1rem;
            font-weight: 700;
            @include media-breakpoint-down(sm) {
                font-size: 0.8rem;
            }
            @include media-breakpoint-only(sm) {
                font-size: 0.8rem;
            }
        }
        @include media-breakpoint-down(sm) {
            p {
                font-size: 0.75rem;
            }
        }
        @include media-breakpoint-only(sm) {
            p {
                font-size: 0.75rem;
            }
        }
        p {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .server-status-card-col-right {
        @include media-breakpoint-down(sm) {
           margin-left: 0 !important; 
        }
        .btn {
            margin-bottom: 15px;
            border-radius: 20px;
            background-image: none !important;
            background-color: #34146d;
            @include media-breakpoint-down(sm) {
                font-size: 0.656rem;
                width: 148px;
            }
            @include media-breakpoint-only(sm) {
                font-size: 0.656rem;
                width: 150px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        flex-wrap: wrap;
        width: 350px;
    }
    @include media-breakpoint-up(sm) {
        width: 550px;
    }
    @include media-breakpoint-between(md, lg) {
        width: 785px;
    }
    @include media-breakpoint-between(lg, xl) {
        width: 945px;
    }
    @include media-breakpoint-up(xl) {
        width: 985px;
    }
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #414141;
    color: #d3d3d3;
    padding: 1rem;
    .footer-branding {
        margin: 0 auto;
        padding-top: 1.5rem;
        img {
            height: 100px;
        }
    }
    .footer-nav {
        margin: 0 auto;
        ul {
            display: flex;
            flex-direction: row;
            li {
                list-style-type: none;
                padding: 1rem 1.1rem;
                a { 
                    color: #d3d3d3;
                    text-decoration: none;
                    &:hover {
                        color: #949494;
                        cursor: pointer;
                        text-decoration: none; 
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                margin: 0 auto;
                padding-left: 0rem;
                li {
                    margin: 0 auto;
                }
            }
        }
    } 
    .footer-nav-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100vw;
        .nav-section {
            text-align: center;
            width: 17%;
            @include media-breakpoint-down(sm) {
                width: 35%;
                font-size: 0.7rem;
            }
            @include media-breakpoint-between(sm, lg) {
                width: 30%;
            }
            @include media-breakpoint-between(lg, xl) {
                width: 27%;
            }
        }
        .footer-social-links {
            // padding: 1rem 2rem;
            text-align: center;
            a {
                padding: 1.2rem;
                font-size: 1.3rem;
                color: #d3d3d3;
                &:hover {
                    color: #949494;
                    cursor: pointer;
                    text-decoration: none;
                }
                @include media-breakpoint-down(sm) {
                    padding: 0.5rem;
                    font-size: 0.8rem;
                    color: #d3d3d3;
                }
            }
        }
    }
}
// modal changes
.modal-content {
    border-radius: 0.9rem !important;
    .modal-title {
        font-weight: 800;
    }
    .modal-header {
        border-bottom: transparent;
    }
    p {
        text-align: left;
        color: #5a5a5a;
        font-size: 0.9rem;
    }
}

// other custom classes

.btn {
    position: relative;
    flex: 1 1 auto;
    margin: -2px;
    padding: 10px;
    width: 250px;
    top: 11px;
    right: 9px;
    text-align: center;
    transition: 0.7s;
    background-size: 200% auto;
    color: white;
    font-weight: 800;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #6225ce  0%, #7a2dff 51%,#38b8df 100%);
    &:hover {
        background-position: right center;
    }
}

