@import './responsive';
@import '~bootstrap/scss/bootstrap.scss';
@import './vidbg.scss';


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #b441d5 0%, #6225ce 51%, #50106c 100%);

}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.navbar {
    .navbar-brand {
        margin-left: 5rem;
        img {
            height: 48px;
            width: 48px;
        }
    }
    .navbar-nav {
        // margin-right: 3.42rem;
        .nav-link {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.57);
            padding: 0.56rem 1.3rem;
            cursor: pointer;
            &:hover {
                background-color: #6225ce;
                color: #e7e7e7;
                padding: 0.56rem 1.3rem;
                text-shadow: none;
                border-radius: 7px;
            }
        }
    }
    // responsive
    @include rwd(2560) {
        margin-top: -6rem;
    }
    @include xl {
        margin-top: 0;
    }
}
.main {
    flex: 1 0 auto;
}
.carousel {
    position: relative;
    margin-top: 10rem;
    line-height: 20px;
    height: 250px;
    .carousel-caption {
        color: #fff;
        top: 100%;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                     0px 8px 13px rgba(0,0,0,0.1),
                     0px 18px 23px rgba(0,0,0,0.1);
        h1 {
            font-size: 2.5rem;
            font-weight: 800;
        }
        h6 {
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 800;
        }
    }
    .carousel-slide {
        display: flex;
        width: 100%;
    }
    .carousel-container {
        width: 60%;
        margin: auto;
    }
    .carousel-inner {
        overflow: unset !important;
    }
}
.badge {
    color: #fff;
    border: none;
    text-shadow: 0px 0px #000000;
    font-size: 1.1rem;
}
.server-status-card {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to left, #b441d5 0%, #6225ce 51%, #50106c 100%);
    width: 945px;
    padding: 2.5rem 2rem;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    .server-status-card-col-left {
        display: flex;
        margin-left: 2rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h1 {
            margin-top: 5px;
            font-size: 1.6rem;
            font-weight: 700;
        }
        h6 {
            font-size: 1.1rem;
            font-weight: 700;
        }
    }
    .server-status-card-col-right {
        .btn {
            margin-bottom: 15px;
            border-radius: 20px;
            background-image: none !important;
            background-color: #34146d;
        }
    }

}
.footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #414141;
    color: #d3d3d3;
    .footer-branding {
        margin: 0 auto;
        padding-top: 1.5rem;
        img {
            height: 100px;
        }
    }
    .footer-nav {
        margin: 0 auto;
        ul {
            display: flex;
            flex-direction: row;
            li {
                list-style-type: none;
                padding: 1rem 1.1rem;
                a { 
                    color: #d3d3d3;
                    &:hover {
                        color: #949494;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }
    } 
    .footer-nav-lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100vw;
        .nav-section {
            text-align: center;
            width: 14%;
            margin-bottom: 2%;
        }
        .footer-social-links {
            padding: 1rem 2rem;
            text-align: center;
            a {
                padding: 1.2rem;
                font-size: 1.3rem;
                color: #d3d3d3;
                &:hover {
                    color: #949494;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}

// other custom classes

.btn {
    position: relative;
    flex: 1 1 auto;
    margin: -2px;
    padding: 10px;
    width: 250px;
    top: 11px;
    right: 9px;
    text-align: center;
    transition: 0.7s;
    background-size: 200% auto;
    color: white;
    font-weight: 800;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #6225ce  0%, #7a2dff 51%,#38b8df 100%);
    &:hover {
        background-position: right center;
    }
}


@include sm {
    .footer-nav-lower {
        .nav-section {
            width: 30% !important;
        }
    }
}
@include md {
    .footer-nav-lower {
        .nav-section {
            width: 20% !important;
        }
    }
}
@include xl {
    .footer-nav-lower {
        .nav-section {
            width: 14% !important;
        }
    }
}
@include rwd(2560) {
    .footer-nav-lower {
        .nav-section {
            width: 14% !important;
        }
    }
}
